.header {
  display: block;
}

.header__wrapper {
  padding-top: 25px;
  padding-bottom: 19px;
}

.header__logo {
  display: inline-flex;
}

.header__logo svg {
  display: inline-block;
  vertical-align: middle;
}
