.promo {
  height: 100%;
  padding-top: 35px;
}

.promo__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 6fr 4fr;
  column-gap: 43px;
  // padding-top: 64px;
}

.promo__title {
  margin-top: 64px;
  font-size: 96px;
  font-weight: 400;
  line-height: 1;
  color: $color-neon-blue;
}

.promo__text {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

.promo__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
